art==5.5
beautifulsoup4==4.11.1
bleach==5.0.0
Brotli==1.0.9
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
commonmark==0.9.1
cryptography==36.0.2
docutils==0.18.1
idna==3.3
importlib-metadata==4.11.3
jeepney==0.8.0
keyring==23.5.0
lxml==4.8.0
mutagen==1.45.1
pkginfo==1.8.2
prompt-toolkit==3.0.29
pycparser==2.21
pycryptodomex==3.14.1
Pygments==2.11.2
readme-renderer==34.0
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.2.0
SecretStorage==3.3.1
six==1.16.0
soupsieve==2.3.2.post1
twine==4.0.0
typing_extensions==4.1.1
urllib3==1.26.9
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.3
zipp==3.8.0
