altgraph==0.17
art==5.2
beautifulsoup4==4.9.3
bleach==3.3.1
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.3
colorama==0.4.4
cryptography==3.4.7
distlib==0.3.2
docutils==0.17.1
idna==3.2
importlib-metadata==4.6.1
jeepney==0.7.0
Jinja2==3.0.1
keyring==23.0.1
lxml==4.6.3
MarkupSafe==2.0.1
packaging==21.0
pkginfo==1.7.1
prompt-toolkit==3.0.19
pycparser==2.20
Pygments==2.9.0
pyinstaller==4.4
pyinstaller-hooks-contrib==2021.2
pynsist==2.7
pyparsing==2.4.7
readme-renderer==29.0
requests==2.26.0
requests-download==0.1.2
requests-toolbelt==0.9.1
rfc3986==1.5.0
SecretStorage==3.3.1
six==1.16.0
soupsieve==2.2.1
tqdm==4.61.2
twine==3.4.1
urllib3==1.26.6
wcwidth==0.2.5
webencodings==0.5.1
yarg==0.1.9
youtube-dl==2021.6.6
zipp==3.5.0
