art==5.2
beautifulsoup4==4.9.3
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.3
idna==3.2
lxml==4.6.3
prompt-toolkit==3.0.19
requests==2.26.0
soupsieve==2.2.1
urllib3==1.26.6
wcwidth==0.2.5
youtube-dl==2021.6.6
