art==5.5
beautifulsoup4==4.11.1
certifi==2021.10.8
charset-normalizer==2.0.12
idna==3.3
lxml==4.8.0
prompt-toolkit==3.0.29
requests==2.27.1
soupsieve==2.3.2.post1
urllib3==1.26.9
wcwidth==0.2.5
yt-dlp==2022.5.18
